<div class="alert {variantClass()} border-0" class.show="$show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <Icon if="$icon" name="$icon" width="24" height="24" classList="me-3" />
            <div class="alert-body">
                $body
            </div>
        </div>
        <button type="button" class="btn-close ms-3" aria-label="Close" (click)="onClose"></button>
    </div>
</div>