<div class="data-table">
    <div if="{$search || $add || $addLink}" class="row">
        <div if="$search" class="col col-md-6 col-lg-5 col-12 pb-4">
            <TextInput placeholder="Search" aria-label="Search" (input)="onSearch" />
        </div>
        <div if="{$add || $addLink}" class="col col-md-6 col-lg-7 col-12 text-end">
            <button type="button" class="btn btn-primary" (click)="onCreate">
                <div class="d-flex align-items-center">
                    <Icon name="bi-plus-square" classList="bi me-2" width="1.5em" height="1.5em" />
                    $addText
                </div>
            </button>
        </div>
    </div>


    <table class="table align-middle mt-4">
        <thead>
            <tr>
                <th foreach="$columns as $column" scope="col">{$column->title ?? $column->key}</th>
                <th if="{$remove || $edit}" scope="col" class="text-center">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr foreach="$items as $item">
                <template foreach="$columns as $column">
                    <template if="{$changeMode && isset($_slots['edit_' . $column->key]) && $item === $editItem}">
                        <slot name="{'edit_' . $column->key}" data="$item"></slot>
                    </template>
                    <template else-if="{isset($_slots['column_' . $column->key])}">
                        <slot name="{'column_' . $column->key}" data="$item"></slot>
                    </template>
                    <template else-if="{$column->template}">
                        <{$column->template} data="$item" value="{$item->{$column->key}}" />
                    </template>
                    <td else>{$item->{$column->key}}</td>
                </template>
                <td if="{$remove || $edit}">
                    <div class="d-flex d-flex justify-content-center">
                        <button if="{!$changeMode || $item !== $editItem}" class="btn btn-sm btn-rounded btn-rounded-primary" type="button"
                            (click)="onEdit($item)">
                            <Icon name="bi-pen" />
                        </button>
                        <button if="{!$changeMode || $item !== $editItem}" class="btn btn-sm btn-rounded btn-rounded-primary ms-2"
                            type="button" (click)="onDelete($item)">
                            <Icon name="bi-trash" />
                        </button>
                        <button if="{$changeMode && $item === $editItem}" class="btn btn-sm btn-rounded btn-rounded-primary" type="button"
                            (click)="onSave($item)">
                            <Icon name="bi-floppy" />
                        </button>
                        <button if="{$changeMode && $item === $editItem}" class="btn btn-sm btn-rounded btn-rounded-primary ms-2" type="button"
                            (click)="onCancel($item)">
                            <Icon name="bi-x-circle" />
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div if="$paging" class="row mt-4 align-items-center">
        <div class="col-md-6 col-12">
            Showing {$filter->paging->entityFrom} to {$filter->paging->entityTo} of {$filter->paging->total} entries
        </div>
        <div class="text-right col-md-6 col-12">
            <Pagination paging="$filter->paging" (change)="onPageChange" />
        </div>
    </div>
</div>