<Layout title="$title">
    <h1>$title</h1>
    <div>
        <h2>Testing area</h2>
        <Icon name="person-hearts" />
        <Tabs classList="px-2">
            <Tab title="Main tab" active>
                <p>Main tab</p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ratione debitis quis est labore
                voluptatibus! Eaque cupiditate minima, at placeat totam, magni doloremque veniam neque porro libero
                rerum unde voluptatem!
            </Tab>
            <Tab title="Additional tab">
                <p>Additional tab</p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ratione debitis quis est labore
                voluptatibus! Eaque cupiditate minima, at placeat totam, magni doloremque veniam neque porro libero
                rerum unde voluptatem!
            </Tab>
        </Tabs>
    </div>
</Layout>